/* psd_demo/css/style.css */
/* Nhúng font từ bên ngoài vào */
@font-face {
	font-family: 'Pacifico-Regular';
	/* Ký tự ../ là lên 1 cấp thư mục */
	src: url('../fonts/Pacifico-Regular.ttf');
}

.header {
    background: #2F2F2F;
    padding: 15px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    /* Căn đều các cột bên trong trên 1 trục nằm ngang */
    align-items: center;
}

.logo {
    width: 20%;
    color: #fff;
    font-size: 30px;
    font-family: Pacifico-Regular;
}

.menu {
    width: 80%;
    text-align: right;
}

.menu ul {
    list-style: none;
    margin:  0;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
}
/* psd_demo/css/style.css */
.menu a {
	color: #fff;
	text-decoration: none;
    font-family: Myriad Pro;
}

.main-top {
    background: #F1F1F1;
    padding: 25px 0;
}

/* Đè css có sẵn, nên viết code css đè phía sau, thêm
các selector cha phía trước  */
.main-top .row {
    align-items: start;
}

.title {
    margin: 0;
}

.article {
    width: 40%;
    margin-right: 15px;
}

.image {
    width: 60%;
}

.learn-more {
    background: #F99640;
    color: #fff;
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 4px;
    font-weight: bold;
    font-family: Myriad Pro;
    margin-top: 20px;
    display: inline-block;
}

.img-responsive {
    width: 100%;
}

.main-center {
    padding: 40px 0;
}

.box {
    background: #000;
    height: 200px;
}

.item {
    margin: 0 30px;
}

.main-center .row {
    /* Fix trường hợp các cột bên trong margin
     trái phải bao nhiều thì hàng margin giá trị âm 
     tương ứng */
    margin: 0 -30px;
}

body {
    margin:  0;
}

/* Code CSS cho mobile,bỏ qua Ipad  */
@media (max-width: 767px) {
    .row {
        flex-wrap: wrap;
    }

    .logo {
        width: 100%;
    }

    .menu {
        display: none;
    }

    .article {
        width: 100%;
        margin-right: 0;
    }

    .image {
        width: 100%;
        margin-top: 30px;
    }
}
